<layout name="tpl/htmlHF" />
<!--<layout name="tpl/htmlHF" />-->
<style type="text/css">
    .infinite-scroll-preloader {
        margin-top:-20px;
    }
</style>

<!-- page 容器 -->
<div class="page">
    <!-- 标题栏 -->
    <header class="bar bar-nav">
        <button class="button pull-left">
            退出
        </button>
        <button class="button pull-right">
            交卷
        </button>
        <h1 class="title">标题</h1>
    </header>

    <nav class="bar bar-tab">
        <a class="tab-item active" href="#">
            Text
        </a>
        <a class="tab-item" href="#">
            Text
        </a>
        <a class="tab-item" href="#">
            Text
        </a>
    </nav>

    <!-- 这里是页面内容区 -->

    <div class="content infinite-scroll" data-distance="100">
        <div class="list-block">
            <ul class="list-container">
            </ul>
        </div>
        <!-- preloader -->
        <div class="infinite-scroll-preloader">
            <div class="preloader"></div>
        </div>
    </div>
</div>
<script>
    var loading = false;
    var maxItems = 100;

    var itemsPerLoad = 20;

    function addItems(number, lastIndex) {
        alert('additem');
        var html = '';
        for (var i = lastIndex + 1; i <= lastIndex + number; i++) {
            html += '<li class="item-content"><div class="item-inner"><div class="item-title">Item ' + i + '</div></div></li>';
        }
        $('.list-container').append(html);

    }


    $(function(){
        alert('addItems(itemsPerLoad, 0)');
        addItems(itemsPerLoad, 0);
        $.init();
    });

    var lastIndex = 20;

    $(document).on('infinite', '.infinite-scroll',function() {

        // 如果正在加载，则退出
        if (loading) return;

        // 设置flag
        loading = true;

        setTimeout(function() {
            loading = false;

            if (lastIndex >= maxItems) {
                $.detachInfiniteScroll($('.infinite-scroll'));
                $('.infinite-scroll-preloader').remove();
                return;
            }

            addItems(itemsPerLoad, lastIndex);
            lastIndex = $('.list-container li').length;
        }, 1000);
    });

</script>