<layout name="tpl/htmlHF" />

<div class="page-group">
    <!-- 单个page ,第一个.page默认被展示-->
    <div class="page">
        <!-- 标题栏 -->
        <header class="bar bar-nav">

            <h1 class="title">标题</h1>

            <a class="icon icon-me pull-right" href="__APP__/Home/User/"></a>
        </header>
        <div class="bar bar-header-secondary">
            <div class="searchbar">
                <a class="searchbar-cancel">取消</a>
                <div class="search-input">
                    <label class="icon icon-search" for="search"></label>
                    <input type="search" id='search' placeholder='输入关键字...'/>
                </div>
            </div>
        </div>
        <!-- 工具栏 -->
        <nav class="bar bar-tab">
            <a class="tab-item external" href="__APP__/Home/Index/">
                <span class="icon icon-home"></span>
                <span class="tab-label">首页</span>
            </a>
            <a class="tab-item external active" href="__APP__/Home/Class/index">
                <span class="icon icon-star"></span>
                <span class="tab-label">课堂</span>
            </a>
            <a class="tab-item external" href="#">
                <span class="icon icon-app"></span>
                <span class="tab-label">发现</span>
            </a>
        </nav>

        <!-- 这里是页面内容区 -->
        <div class="content">

            <div class="content-block-title">课堂列表</div>
            <div class="list-block media-list">
                <ul>
                    <volist name="class" id="vo">
                        <li>
                            <a href="__APP__/Home/Class/showDetail/id/{$vo.id}" class="item-link item-content"  data-panel="#panelClass" id="{$vo.id}">
                                <div class="item-media"><img src="__ROOT__/Public/img/icon_nav_article.png" style='width: 2rem;'></div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">{$vo.classname}</div>
                                        <if condition="($vo.ratedscore eq 0)"> <div class="item-after">0</div>
                                            <else /> <div class="item-after">{$vo[ratedscore]/$vo[ratedtime]|round=2}</div>
                                        </if>
                                    </div>
                                    <div class="item-subtitle">创建人:{$vo.username}</div>
                                </div>
                            </a>
                        </li>
                    </volist>
                </ul>
                </div>
        </div>
    </div>

    <!-- 其他的单个page内联页（如果有） -->
    <div class="page">...</div>
</div>

<!-- popup, panel 等放在这里 -->
<div class="panel-overlay"></div>
<!-- Left Panel with Reveal effect -->
<div class="panel panel-left panel-reveal"  id="panelClass">

</div>

<script>
    function setClassData(id){
        $('#p').html(id);
    }
</script>