<div data-role="page" id="teacher">


<div data-role="collapsibleset">
    <div data-role="collapsible" data-inset="false" data-icon-position="right">
        <h2>item1</h2>
        <ul data-role="listview">
            <li data-icon="arrow-d"><a href="#">下载课件<span class="ui-li-count">12</span></a></li>
            <div>
                <form>
                    <textarea cols="40" rows="10" name="textarea" id="textarea" placeholder="请在此输入您的评价！"></textarea>
                    <input type="range" name="slider-fill" id="slider-fill" value="80" min="0" max="100" step="5" data-highlight="true">
                    <div class="ui-grid-solo">
                            <input type="submit" value="提交评价">
                    </div>
                </form>
            </div>
        </ul>
    </div>
</div>
</div>